
  <div class="animated fadeInDown slow" style="margin-top:35px;margin-bottom:35px;z-index:99;height:350px;">
    <app-gregoryapps></app-gregoryapps>
  </div>


  <div style="margin-top: 10px;">



    <div class="row" style="width:100%;">
      <div class="col s12 animated fadeInLeft">
        <ul id="tabBar" class="tabs tabs-fixed-width" materialize="tabs">
          <li class="tab col s3" (click)="tabClicked()"><a href="#test1" class="orange-text">Mobile</a></li>
          <li class="tab col s3" (click)="tabClicked()"><a href="#test2" class="orange-text">Web</a></li>
          <li class="tab col s3" (click)="tabClicked()"><a href="#test3" class="orange-text">Desktop</a></li>
          <div class="indicator grey lighten-2" style="z-index:1;height:5px;border-radius:15px;"></div>
        </ul>
      </div>
      <div id="test1" class="col s12">

        <div class="row animated fadeInUpBig ">
          <div class="col s12 m6" *ngFor="let project of this.projects">

            <app-project-card [project]="project" *ngIf="project.platform==0"></app-project-card>
          </div>

        </div>
      </div>
      <div id="test2" class="col s12">

        <div class="row animated fadeInUpBig ">
          <div class="col s12 m6 left" *ngFor="let project of this.projects">

            <app-project-card [project]="project" *ngIf="project.platform==1"></app-project-card>
          </div>

        </div>

      </div>
      <div id="test3" class="col s12">
        <div class="row animated fadeInUpBig ">
          <div class="col s12 m6" *ngFor="let project of this.projects">

            <app-project-card [project]="project" *ngIf="project.platform==2"></app-project-card>
          </div>
        </div>

      </div>
    </div>





  </div>
