


<div class="parallax-container" style="height:100vh;margin-top:-30px;">
    <div class="parallax "  materialize="parallax">
      <div class="animated fadeInDown slow"  style="height:60%;margin-left:-8%;margin-top:2%">
          <app-gregoryapps></app-gregoryapps>
      </div>
       <h5 class="center white-text" >Scroll to see the projects</h5>
      <h6 class="center " > <i class="material-icons white-text floatinganimation " style="font-size:80px;">arrow_downward</i></h6>

    </div>
</div>






<div class="section" style="background-color:#5271ff;border-radius:25px;" >
  <div class="row" style="width:100%;z-index:50;">
    <div *ngFor="let cat of categories;let i = index">
      <div class="col s12" style="margin-top:50px;" >
      <h6 class="center"><i class="material-icons center white-text" style="font-size:85px;">{{ cat.icon }}</i></h6>
      <h4 class="white-text center">{{ cat.title }}</h4>
    </div>
    <div id="tab1" class="col s12" style="min-height:500px;">
      <div class="row animated fadeInUpBig ">
        <div *ngFor="let project of this.projectService.projects">
          <div class="col s12 m6" *ngIf="project.platform==i">
            <app-project-card [project]="project"></app-project-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
