<nav *ngIf="UI.navbarVisible" style="position: fixed;top:0;z-index:120;">
  
  <div class="nav-wrapper white">
    <a  class="brand-logo center orange-text">{{UI.navbarTitle}}</a>
    <a href="#" materialize="sideNav" data-activates="mobile-demo"
      class="button-collapse show-on-medium-and-up orange-text">
      <i class="material-icons">menu</i></a>
  </div>
 
</nav>
<ul class="side-nav " id="mobile-demo">
        <li><a  (click)="closeSideMenu()" class="orange-text"><i
              class="material-icons orange-text">arrow_back</i>Close menu</a></li>
        <li><a [routerLink]="['/']" (click)="closeSideMenu()" routerLinkActive="router-link-active" class="orange-text"><i
              class="material-icons orange-text">home</i> Home</a></li>
        <li><a (click)="closeSideMenu()" class="orange-text"><i
              class="material-icons orange-text">info</i> About me</a></li>
        <li><a [routerLink]="['/apps']" (click)="closeSideMenu()" class="orange-text"><i
              class="material-icons orange-text">code</i> My projects</a>
        </li>
      </ul>