.floating-card{
  margin-top:-180px;
  border-radius:25px;
  margin-left:10%;
  margin-right:10%;

}
.download-button{
  margin-top:25px;
  border-radius:25px;
}
.button-download i{
  font-size:22px;
  margin-right:5px;
}

.markdown a{
  color:white;
}
.markdown a{
  color:white;
}
.content{
  margin-left: 5%;
  margin-right:5%;
  width:90%;
}
.tabs{
  margin-left:5%;
  margin-right:5%;
  width:90%;
  border-radius:25px;
}
.indicator{
  z-index:1;
  height:5px;
  border-radius:15px;
}


.download-options{
  border-radius:25px;
  background-color: #ff914d;
}
.download-options .modal-footer{
  background-color: #ff914d;
  color: white;
}
.download-options .modal-content .btn{
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

@media(min-width:768px){
  .download-options .modal-content .btn{
    width:50%;
    margin-left:25%;
    margin-right:25%;
  }
}
