.floating-card{
  margin-top:-180px;
  border-radius:25px;
  margin-left:10%;
  margin-right:10%;

}
.download-button{
  margin-top:25px;
  border-radius:25px;
}

.markdown a{
  color:white;
}
.markdown a{
  color:white;
}
.content{
  margin-left: 5%;
  margin-right:5%;
  width:90%;
}
