<div class="parallax-container" style="margin-top:-32px;height:350px;">
  <div class="parallax" materialize="parallax">
    <img src="assets/img/background.jpg"  alt="">
  </div>
</div>

<div class="section " style="border-radius:20px;background-color:#5271ff">

  <div class="floating-card" id="{{ sections[0].Id }}">
    <app-project-card-big [project]="this.currentProject"></app-project-card-big>
  </div>

  <div class="content">
    <h6 class="center">
      <div class="row">
        <div class="col s12">

        <div id="{{ sections[1].Id }}" class="col s12 animated slideInUp faster">
          <i class="center material-icons white-text" style="font-size:55px;margin-top:20px;">{{ sections[1].Icon }}</i>
          <h4 class="white-text">{{ sections[1].Title }}</h4>
          <app-project-gallery [project]="this.currentProject"></app-project-gallery>
        </div>
        <div id="{{ sections[2].Id }}" class="col s12 animated slideInUp faster">
          <i class="center material-icons white-text" style="font-size:55px;margin-top:20px;">{{ sections[2].Icon }} </i>
          <h4 class="white-text">{{ sections[2].Title }}</h4>
          <app-timeline *ngIf="!this.isLoadingCommits" [commits]="this.projectCommits"></app-timeline>
          <app-preloader *ngIf="this.isLoadingCommits" [size]="'big'"></app-preloader>
        </div>
      </div>
  </div>
  <app-floating-navigator [sections]="sections"></app-floating-navigator>
