<div class="parallax-container" style="margin-top:-35px;height:350px;">
  <div class="parallax" materialize="parallax">
    <img src="assets/img/background.jpg" alt="">
  </div>
</div>
<div class="section " style="border-radius:20px;background-color:#5271ff">

  <div class="resume-content">
    <div id="{{ sections[0].Id }}">
      <app-personal-info-card [info]="info"></app-personal-info-card>
    </div>

    <!-- contenttt-->

    <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;"
        id="{{ sections[1].Id }}">{{ sections[1].Icon }}</i>
      <h4 class="white-text">{{ sections[1].Title }}</h4>
    </h6>


    <h5 class="white-text" style="font-size:20px;">
      Hello. My name is Gregory Alexander Cabral De Los santos and im fullstack developer that really loves to learn new
      things and make my ideas come true
      im sort of polyglot because i can be adapted easily to every languaje and technology that is required for every
      kind of project. <br> <br>
      Actually I develop aplications for every kind of platform such as web,mobile desktop... etc. For every platform I
      have the knowledge of an related technology
      to develop the assigned project

    </h5>

    <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;"
        id="{{ sections[2].Id }}">{{ sections[2].Icon }}</i>
      <h4 class="white-text">{{ sections[2].Title }}</h4>
    </h6>
    <app-personal-skills-card [info]="info" [category]="'languaje'"></app-personal-skills-card>
    <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;"
        id="{{ sections[3].Id }}">{{ sections[3].Icon }}</i>
      <h4 class="white-text">{{ sections[3].Title}}</h4>
    </h6>
    <app-personal-skills-card [info]="info" [category]="'framework'"></app-personal-skills-card>
    <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;"
        id="{{ sections[4].Id }}">{{ sections[4].Icon }}</i>
      <h4 class="white-text">{{ sections[4].Title}}</h4>
    </h6>
    <app-timeline [studies]="info.studies"></app-timeline>
  </div>
</div>
<app-floating-navigator [sections]="sections"></app-floating-navigator>
