<div class="parallax-container" style="margin-top:-35px;height:350px;" >
  <div class="parallax" materialize="parallax">
    <img src="assets/img/background.jpg" alt="" >
  </div>
</div>
<div class="section " style="border-radius:20px;background-color:#5271ff">

  <div class="resume-content" >
    <app-personal-info-card [info]="info"></app-personal-info-card>


    <!-- contenttt-->

    <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;">info</i>
      <h4 class="white-text">About me</h4>
    </h6>


    <h5 class="white-text" style="font-size:20px;">
      Hello. My name is Gregory Alexander Cabral De Los santos and im fullstack developer that really loves to learn new
      things and make my ideas come true
      im sort of polyglot because i can be adapted easily to every languaje and technology that is required for every
      kind of project. <br> <br>
      Actually I develop aplications for every kind of platform such as web,mobile desktop... etc. For every platform I
      have the knowledge of an related technology
      to develop the assigned project

    </h5>

    <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;">code</i>
      <h4 class="white-text">Programming and markup languajes</h4>
    </h6>
   <app-personal-skills-card [info]="info" [category]="'languaje'"></app-personal-skills-card>
   <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;">build</i>
      <h4 class="white-text">Technologies and frameworks</h4>
    </h6>
   <app-personal-skills-card [info]="info" [category]="'framework'"></app-personal-skills-card>



  </div>
</div>
