<div class="parallax-container" style="margin-top:-35px;">
  <div class="parallax" materialize="parallax">
    <img src="assets/img/background.jpg" alt="">
  </div>
</div>
<div class="section " style="border-radius:20px;background-color:#5271ff">

  <div class="resume-content">
    <div id="{{ sections[0].Id }}">
      <app-personal-info-card [info]="info"></app-personal-info-card>
    </div>

    <!-- contenttt-->

    <h6 class="center" id="{{ sections[1].Id }}">
      <i class=" material-icons white-text hide" style="font-size:55px;margin-top:20px;"
        >{{ sections[1].Icon }}</i>

        <div  style="height:400px;margin-top:50px">
          <app-gregory></app-gregory>
        </div>
      <h4 class="white-text">{{ sections[1].Title }}</h4>
    </h6>


    <p class="white-text" style="font-size:20px;">
      Hello. My name is Gregory Alexander Cabral De Los santos and I am a <b>fullstack developer</b> from Dominican Republic that really loves to learn new things and make my ideas and dreams come true. I consider myself as a <b>ninja developer</b> because I can easily adapt to any programming languaje or technology required for any assigned project.

      Actually I develop aplications for multiple platforms such as <b>web,mobile desktop... etc</b>. For every platform I have the knowledge of a related technology.

      I Usually invest my free time developing and maintaining My personal projects because I am always learning new things and I think that the best way to learn something practicing it.

    </p>

    <h6 class="center"  id="{{ sections[2].Id }}">
      <i class=" material-icons white-text hide" style="font-size:55px;margin-top:20px;"
       >{{ sections[2].Icon }}</i>
        <div  style="height:400px;margin-top:50px">
          <app-gregoryscroll></app-gregoryscroll>
        </div>
      <h4 class="white-text">{{ sections[2].Title }}</h4>
    </h6>

    <app-personal-skills-card [info]="info"></app-personal-skills-card>
    <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;"
        id="{{ sections[3].Id }}">{{ sections[3].Icon }}</i>
      <h4 class="white-text">{{ sections[3].Title}}</h4>
    </h6>
    <app-timeline [studies]="info.studies"></app-timeline>


    <h6 class="center">
      <i class=" material-icons white-text" style="font-size:55px;margin-top:20px;"
        id="{{ sections[4].Id }}">{{ sections[4].Icon }}</i>
      <h4 class="white-text">{{ sections[4].Title}}</h4>
    </h6>
    <app-timeline [professionalExperience]="info.professional_experience"></app-timeline>

  </div>
</div>
<app-floating-navigator [sections]="sections"></app-floating-navigator>
