.card{
  border-radius:25px;
}
.more-info-button{
  margin-top:15px;
  border-radius:25px;
}
.mobile-logo{
  height:70px;
  width:70px;
  display: none;
  margin-left:calc(50% - 35px);
  margin-right:calc(50% - 35px);
}
