
<!--Commits-->
<div class="timeline" *ngIf="this.commits!=null">
    <div class="timeline-event" *ngFor="let comm of this.commits">
        <div class="card timeline-content " style="border-radius:45px;">

          <div class="card-content">
              <img class="r circle left" style="height:60px;width:60px;" src="{{ comm.author.avatar_url  }}">
            <span class="card-title  grey-text text-darken-4 ">{{ comm.commit.author.date |date }}</span>
            <p class="truncate">{{ comm.commit.message }} <br>
             </p>
             <a href="{{ comm.html_url }}" target="_blank" style="margin-top:25px;">See commit</a>
          </div>
        </div>
        <div class="timeline-badge orange white-text"><i class="material-icons">adjust</i></div>
      </div>
  </div>

<!--Personal education-->
<div class="timeline" *ngIf="this.studies!=null">
  <div class="timeline-event" *ngFor="let stu of this.studies">
      <div class="card timeline-content " style="border-radius:45px;">

        <div class="card-content">
          <img class="r  left" style="height:60px;width:60px;margin:5px;" src="{{ stu.image  }}">
          <span class="card-title  orange-text " style="font-size:18px;">{{ stu.daterange }}</span>
          <span class="card-title " style="font-size:25px;">{{ stu.title}}</span>
          <p class="truncate grey-text">

            {{ stu.location }}
           </p>
        </div>
      </div>
      <div class="timeline-badge orange white-text"><i class="material-icons">adjust</i></div>
    </div>
</div>


<!--Working Experience-->
<div class="timeline" *ngIf="this.professionalExperience!=null">
  <div class="timeline-event" *ngFor="let exp of this.professionalExperience">
      <div class="card timeline-content " style="border-radius:45px;">

        <div class="card-content">
          <img class="r circle left" style="height:60px;width:60px;margin:5px;" src="{{ exp.image  }}">
          <span class="card-title  orange-text " style="font-size:20px;">{{ exp.daterange }}</span>
          <span class="card-title " style="font-size:20px;">{{ exp.position}}</span>
          <p class="truncate grey-text" >

            {{ exp.location }}
           </p>
          <p [innerHtml]="exp.description">

          </p>

        </div>
      </div>
      <div class="timeline-badge orange white-text"><i class="material-icons">adjust</i></div>
    </div>
</div>
