
<!--Commits-->
<div class="timeline" *ngIf="this.commits!=null">
    <div class="timeline-event" *ngFor="let comm of this.commits">
        <div class="card timeline-content " style="border-radius:45px;">

          <div class="card-content">
              <img class="r circle left" style="height:60px;width:60px;" src="{{ comm.author.avatar_url  }}">
            <span class="card-title  grey-text text-darken-4 ">{{ comm.commit.author.date |date }}</span>
            <p class="truncate">{{ comm.commit.message }} <br>
             </p>
             <a href="{{ comm.html_url }}" target="_blank" style="margin-top:25px;">See commit</a>
          </div>
        </div>
        <div class="timeline-badge orange white-text"><i class="material-icons">adjust</i></div>
      </div>
  </div>

<!--Personal education-->
<div class="timeline" *ngIf="this.studies!=null">
  <div class="timeline-event" *ngFor="let stu of this.studies">
      <div class="card timeline-content " style="border-radius:45px;">

        <div class="card-content">

          <span class="card-title  grey-text text-darken-4 " style="font-size:20px;">{{ stu.title }}</span>
          <p class="truncate">
           At {{ stu.location }}   <br>
            {{ stu.daterange  }} <br>
            {{ stu.degree  }}
           </p>
        </div>
      </div>
      <div class="timeline-badge orange white-text"><i class="material-icons">adjust</i></div>
    </div>
</div>
