<div class="fixed-action-btn toolbar" style="border-top-right-radius:50px;border-top-left-radius:50px">

  <a id="menu" class="btn-floating btn-large unselectable" [style.background-color]="UI.navbarAccentColor">
    <i class="large material-icons">unfold_more</i>
  </a>
  <div class="tap-target " [style.background-color]="UI.navbarAccentColor" data-activates="menu">
    <div class="tap-target-content">
      <h5 class="white-text">Navigation button</h5>
      <p class="white-text">You can navigate through the section by pressing this button and selecting the desired section</p>
    </div>
  </div>
  <ul >
    <li class="waves-effect waves-light"  *ngFor="let sec of sections"><a  materialize="tooltip" data-position="top" [materializeParams]="[{tooltip:sec.Title}]" (click)="scrollToSection(sec.Id)"><i class="material-icons unselectable">{{ sec.Icon }}</i></a></li>
  </ul>
</div>

