/* You can add global styles to this file, and also import other style files */
.centered{
  position:fixed;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pillbtn{
  margin:5px;
  border-radius:20px;
  color:#ff914d;
  width:30%;
  margin-left: 32%;
  margin-right: 32%;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.floating_animation {
	animation-name: float;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction:normal;
}
