/* You can add global styles to this file, and also import other style files */
.centered{
  position:fixed;
  left: 50%;
  top: 46%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pillbtn{
  margin:5px;
  border-radius:20px;
  color:#ff914d;
  width:30%;
  margin-left: 32%;
  margin-right: 32%;
}
.inline-material-icons{
  vertical-align: bottom;
}


@media(max-width:600px){
  .pillbtn{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
