.card{
  border-radius:25px;
}
.download-button{
  margin-top:25px;
  border-radius:25px;
}
.button-download i{
  font-size:22px;
  margin-right:5px;
}
.download-options{
  border-radius:25px;
  background-color: #ff914d;
}
.download-options .modal-footer{
  background-color: #ff914d;
  color: white;
}
.download-options .modal-content .btn{
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

@media(min-width:768px){
  .download-options .modal-content .btn{
    width:50%;
    margin-left:25%;
    margin-right:25%;
  }
}
